@tailwind base;
@tailwind components;
@tailwind utilities;

/* Century Gothic font fallback */
/*Changed to Poppins*/
@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
